:root {
  /* Gray Colors */
  --color-gray-1: #000000;
  --color-gray-2: #242424;
  --color-gray-3: #434343;
  --color-gray-4: #656565;
  --color-gray-5: #898989;
  --color-gray-6: #afafaf;
  --color-gray-7: #d6d6d6;
  --color-gray-8: #ffffff;

  /* Main Colors */
  --color-main-1: #1dcfc1;
  --color-main-2: #2cdbcd;
  --color-main-3: #8ee7e0;
  --color-main-4: #e8faf9;

  /* Sub Colors */
  --color-sub-1: #3a3d4e;
  --color-sub-2: #e8f4fa;

  /* Orange Colors */
  --color-orange-1: #f56c3e;
  --color-orange-2: #ff990a;

  /* Background Colors */
  --color-bg-1: #f4f4f4;
  --color-bg-2: #f7f7f7;

  /* Subway Line Colors */
  --color-subway-line-1: #0052a4; /* 1호선 - PANTONE 286C */
  --color-subway-line-2: #00a84d; /* 2호선 - PANTONE 354C */
  --color-subway-line-3: #ef7c1c; /* 3호선 - PANTONE 1655C */
  --color-subway-line-4: #00a5de; /* 4호선 - PANTONE 2995C 90% */
  --color-subway-line-5: #996cac; /* 5호선 - PANTONE 2583C */
  --color-subway-line-6: #cd7c2f; /* 6호선 - PANTONE 1675C 80% */
  --color-subway-line-7: #747f00; /* 7호선 - PANTONE 5757C */
  --color-subway-line-8: #e6186c; /* 8호선 - PANTONE 213C */
  --color-subway-line-9: #bdb092; /* 9호선 - PANTONE 872C 70% */
  --color-subway-line-91: #ff0066; /* GTX-A */
  --color-subway-line-101: #0090d2; /* 공항철도 */
  --color-subway-line-104: #77c4a3; /* 경의중앙선 */
  --color-subway-line-107: #6fb245; /* 용인 에버라인 */
  --color-subway-line-108: #0c8e72; /* 경춘선 */
  --color-subway-line-109: #d31145; /* 신분당선 */
  --color-subway-line-110: #f5a200; /* 의정부 경전철 */
  --color-subway-line-112: #0054a6; /* 경강선 */
  --color-subway-line-113: #b7c452; /* 우이 신설선 */
  --color-subway-line-114: #8bc1bc; /* 서해선 */
  --color-subway-line-115: #a17800; /* 김포골드라인 */
  --color-subway-line-116: #f5a200; /* 수인분당선 */
  --color-subway-line-117: #6789ca; /* 신림선 */
  --color-subway-line-21: #7ca8d5; /* 인천 1호선 */
  --color-subway-line-22: #ed8000; /* 인천 2호선 */

  /* Typography */
  --font-header-h1: 20px;
  --font-header-h2: 18px;
  --font-header-h3: 16px;
  --font-subheader-sh1: 14px;
  --font-subheader-sh2: 12px;
  --font-subheader-sh3: 10px;
  --font-body-b1: 16px;
  --font-body-b2: 14px;
  --font-caption-c1: 12px;
  --font-caption-c2: 10px;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;

  /* Border Radius */
  --radius-10: 10px;
  --radius-14: 14px;
  --radius-20: 20px;
  --radius-100: 100px;

  /* 공통 너비 */
  --layout-max-width: 400px;
  --layout-min-width: 320px;
}
